<div class="d-flex text-muted pt-3">
	<div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
         	<strong class="text-gray-dark"><%= comment.user.email%></strong>
        	<span>
        		<%= comment.created_at.to_datetime.strftime("%B %d, at %I:%M ")%>
        		<% if current_user.id === comment.user_id %>
        		|<%= link_to 'Видалити', [comment],
	           method: :delete,
	           remote: true,
	           data: { confirm: 'Ви впевнені?' } %>
	           <%end%>
            </span>
        </div>
        <span class="d-block"><%=comment.text%></span>
    </div>

</div>
